* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.schedule-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#subject-container {
  margin-left: -13%;
}

.subject__name {
  padding: 20px 10px;
  margin: 0 0 20px 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.subject__name:nth-child(1) {
  background-color: #e642f5;
}
.subject__name:nth-child(2) {
  background-color: #42a4f5;
}
.subject__name:nth-child(3) {
  background-color: #f5a742;
}
.subject__name:nth-child(4) {
  background-color: #9ef542;
}
.subject__name:nth-child(5) {
  background-color: #42eff5;
}
.subject__name:nth-child(6) {
  background-color: #f54242;
}
.subject__name:nth-child(7) {
  background-color: #f5ef42;
}
.subject__name:nth-child(8) {
  background-color: #42a4f5;
}

/* table */
.table-container {
  min-height: 750px;
  display: flex;
  background: linear-gradient(#ddd6f3, #faaca8);
  padding: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  max-width: 833px;
}

.day-container {
  display: flex;
}

.day {
  display: flex;
  width: 100px;
  border: solid 1px #fff;
  height: 100px;
  justify-content: center;
  align-items: center;
  /* min-width: 100px; */
}

#corner {
  border: none;
}

.time-container {
  display: flex;
}

.dragField {
  display: flex;
  flex-wrap: wrap;
}

.time {
  min-width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin-left: -9px;
  border-left: none;
}

.subject {
  display: flex;
  background-color: #fff;
  height: 100px;
  width: 100px;

  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
