* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.schedule-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subject-container {
  padding: 10px;
}

.subject__name {
  padding: 20px 10px;
  margin: 0 0 20px 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.subject__name:nth-child(1) {
  background-color: #e642f5;
}
.subject__name:nth-child(2) {
  background-color: #42a4f5;
}
.subject__name:nth-child(3) {
  background-color: #f5a742;
}
.subject__name:nth-child(4) {
  background-color: #9ef542;
}
.subject__name:nth-child(5) {
  background-color: #42eff5;
}
.subject__name:nth-child(6) {
  background-color: #f54242;
}
.subject__name:nth-child(7) {
  background-color: #f5ef42;
}
.subject__name:nth-child(8) {
  background-color: #42a4f5;
}
